.day-card-layout {
    min-width: 90%;
    max-width: 90%;
    height: 200px;
}

.flex-center{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.flex-item {
    margin: auto;
 }

.grid-doughnuts {
    display: flex;
    justify-content: space-between;
}

.graph-backgrounds {
    background-color: #3ca8e7;
}

.right-align-btn {
    margin-left: auto;
    margin-right: 0;
    float: right;
}